EXPO_PUBLIC_GEMINI_API_KEY=
EXPO_PUBLIC_OPENWEATHER_API_KEY=
EXPO_PUBLIC_GROQ_API_KEY=
EXPO_PUBLIC_NVIDIA_API_KEY=

VERTEX_PROJECT_ID=
VERTEX_LOCATION=us-central1
VERTEX_SERVICE_ACCOUNT_JSON=
SERP_API_KEY=

DATABASE_URL=postgresql://user:pass@host/db

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
REPLICATE_API_TOKEN=

FAL_KEY=
